BODY {
  background-image: url(https://estaticos-cdn.elperiodico.com/clip/6e0e1d5f-8851-4677-b616-4cca88f99ff5_alta-libre-aspect-ratio_default_0.jpg) ;
  background-attachment: fixed;
  background-position: center;
}

