h1{
    background-color: blue;color: white;
}
/*https://unsplash.com/ :  background-color: lightblue;
          background-image: url ("images/Dragon2.jpg")*/
image{
     background-color: lightblue;
          background-image: url("images/Dragon2.jpg");
}